//- Лого
mixin logo(logo)
    -if (logo.prefix === undefined) {logo.prefix=''} else {logo.prefix=logo.prefix+'-'}
    div(class=logo.prefix + 'logo__wrap')
            a(href=logo.link, class=logo.prefix + 'logo')
                img(src=logo.img, class=logo.prefix + 'logo__img')
                if logo.text!=undefined
                    div(class=logo.prefix + 'logo__text')=logo.text
                if logo.textHide!=undefined
                    span.text-hide= logo.textHide
//- Меню
mixin nav (navigatoin)
    -if (navigatoin.prefix === undefined) {navigatoin.prefix=''} else {navigatoin.prefix=navigatoin.prefix+'-'}
        nav(class=navigatoin.prefix + 'nav')
            div(class=navigatoin.prefix + 'menu__wrap')
                ul(class=navigatoin.prefix + 'menu')
                    each link,text in navigatoin.nav
                        li(class=navigatoin.prefix + 'menu__item')
                            a(href=link, class=navigatoin.prefix + 'menu__link')= text
                            if navigatoin.subnav!=undefined
                                -if (navigatoin.subnav.prefix === undefined) {navigatoin.subnav.prefix=''} else {navigatoin.subnav.prefix=navigatoin.subnav.prefix+'-'}
                                div(class=navigatoin.subnav.prefix + navigatoin.subnav.name + '__wrap', id=navigatoin.subnav.name)
                                    ul(class=navigatoin.subnav.prefix + navigatoin.subnav.name)
                                        each link,text in navigatoin.subnav.nav
                                            li(class=navigatoin.subnav.prefix + navigatoin.subnav.name + '__item')
                                                a(href=link, class=navigatoin.subnav.prefix + navigatoin.subnav.name + '__link')= text
//- Формы
mixin form (form)
    -if (form.prefix === undefined) {form.prefix=''} else {form.prefix=form.prefix+'-'}
    div(class=form.prefix + 'form__wrap')
        form(class=form.prefix + 'form', id=form.prefix + 'form')
            each val,index in form.title
                label(class=form.prefix + 'form__label')
                    div(class=form.prefix + 'form__title')=form.title[index]
                    input(class=form.prefix + 'form__input')&attributes(form.attr[index])
            each text,type in form.btn
                button(type=type, class=form.prefix + 'form__' + type)=text
//- Блок контакт
mixin cont (cont)
    -if (cont.prefix === undefined) {cont.prefix=''} else {cont.prefix=cont.prefix+'-'}
    div(class=cont.prefix + cont.type + '__wrap')
        div(class=cont.prefix + cont.type)
            a(href=cont.type + ':'+ cont.val, class=cont.prefix + cont.type + '__link')=cont.text
//- Айтемы секции
mixin item (items)
    div(class=items.name + '__wrap')
        section(class=items.name)
            img(class=items.name + '__img', src=items.img)
            h2(class=items.name + '__title')=items.title
            if items.subtitle != undefined
                div(class=items.name + '__subtitle')=items.subtitle
            p(class=items.name + '__desc')=items.desc
