//- Лого
mixin logo(logo)
    //- Проверяем наличие префикса
    -if (logo.prefix === undefined) {logo.prefix=''} else {logo.prefix=logo.prefix+'-'}
    //- Создаём ссылку
    if logo.img!=undefined
        a(href=logo.link, class=logo.prefix + 'logo' + ' logo_' + logo.wrap)
            //- Создаём картинку
            if logo.img!=undefined
                if logo.text!=undefined || logo.subText!=undefined
                    div(class=logo.prefix + 'logo__wrap-img')
                        img(src=logo.img, class=logo.prefix + 'logo__img', alt=logo.alt)
                else
                    img(src=logo.img, class=logo.prefix + 'logo__img ', alt=logo.alt)
            //- Создаём текст к лого
            if logo.text!=undefined || logo.subText!=undefined
                div(class=logo.prefix + 'logo__wrap-text')
                    if logo.text!=undefined
                        div(class=logo.prefix + 'logo__title')=logo.text
                    if logo.subText!=undefined
                        div(class=logo.prefix + 'logo__subtitle')=logo.subText
//- Меню
mixin nav (navigatoin)
    //- Проверяем наличие префикса
    -if (navigatoin.prefix === undefined) {navigatoin.prefix=''} else {navigatoin.prefix=navigatoin.prefix+'-'}
    //- Раздел навигации
    nav(class=navigatoin.prefix + 'nav')
        //-Меню
        ul(class=navigatoin.prefix + 'menu' + ' menu_' + navigatoin.wrap)
            each val,index in navigatoin.nav.itemName
                li(class=navigatoin.prefix + 'menu__item')
                    a(href=navigatoin.nav.itemLink[index], class=navigatoin.prefix + 'menu__link')= val
                    //- Подменю
                    if navigatoin.subnav!=undefined
                            if index<=navigatoin.subnav.length-1
                                ul(class=navigatoin.prefix+ 'subnav '+ navigatoin.prefix + 'subnav_wrap')
                                    each val,indx in navigatoin.subnav[index].itemName
                                        li(class=navigatoin.prefix + 'subnav__item ')
                                            a(href=navigatoin.subnav[index].itemLink[indx], class=navigatoin.prefix + 'subnav__link')= val
//- Формы
mixin form (form)
    -if (form.prefix === undefined) {form.prefix=''} else {form.prefix=form.prefix+'-'}
    div(class=form.prefix + 'form__wrap')
        form(class=form.prefix + 'form', id=form.prefix + 'form')
            each val,index in form.title
                label(class=form.prefix + 'form__label')
                    div(class=form.prefix + 'form__title')=form.title[index]
                    input(class=form.prefix + 'form__input')&attributes(form.attr[index])
            each text,type in form.btn
                button(type=type, class=form.prefix + 'form__' + type)=text
//- Блок контакт
mixin cont (cont)
    -if (cont.prefix === undefined) {cont.prefix=''} else {cont.prefix=cont.prefix+'-'}
    div(class=cont.prefix + cont.type + '__wrap')
        div(class=cont.prefix + cont.type)
            a(href=cont.type + ':'+ cont.val, class=cont.prefix + cont.type + '__link')=cont.text
//- Айтемы секции
mixin item (items)
    article(class=items.name)
        //- Загаловок перед изображением
        if items.titleFirst!=undefined
            h3(class=items.name + '__title')=items.titleFirst
        //- Изображение
        if items.img!=undefined
            div(class=items.name + '__wrap-img')
                img(class=items.name + '__img', src=items.img, alt=items.alt)
        //- Иконка
        if items.icon!=undefined
            div(class=items.name + '__wrap-ic')
        //- Основной контент
        div(class=items.name + '__wrap-contant')
            //- Заголовок
            if items.title!=undefined
                h3(class=items.name + '__title')=items.title
            //- Подзаголовок
            if items.subtitle != undefined
                div(class=items.name + '__subtitle')=items.subtitle
            //- Описание
            if items.desc != undefined
                p(class=items.name + '__desc')=items.desc
                    //- Ссылки в описании
                    if items.links != undefined
                        each val, index in items.links
                            a(href=items.links[index].link, class=items.name + '__link')=items.links[index].text
                    //- Блоки в описнии
                    if items.descBlock != undefined
                        each val, index in items.descBlock
                            div(class=items.name + '__desc__block')=val
            //- Кнопки
            if items.btn != undefined
                each val,index in items.btn
                    a(href=items.btn[index].link, class=items.name + '__btn')=items.btn[index].text
            if items.list != undefined
                ul(class=items.name+ '-list')
                    each val,index in items.list
                        li(class=items.name+ '-list__item')=val
